<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MySettings" type ="_9hLecture.ReadConfig, 9hLecture, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="1st key app" value="111"/>
		<add key="2nd key app" value="222"/>
	</appSettings>
	<MySettings>
		<clear/>
		<add MySettingKey="1st subsetting" MySettingValue="1111"/>
		<add MySettingKey="2st subsetting" MySettingValue="2222"/>
	</MySettings>
</configuration>